*
{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    
    background-image: url(../image/pexels-photo-137041.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    width: 1440px;
    height: 870px;
    padding: 100px;
    

    
}

nav{
    color: #ffffff;
    
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    transition: 0.5s;
}
